flows.json
[{"id":"ec7da7f0.0e19e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b199211b.44b25","type":"inject","z":"ec7da7f0.0e19e8","name":"Hi","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":204,"wires":[["5a43db41.960684"]]},{"id":"69c820bc.70b3c","type":"ui_form","z":"ec7da7f0.0e19e8","name":"","label":"","group":"ae51b534.b3ec18","order":2,"width":0,"height":0,"options":[{"label":"year","value":"yr","type":"number","required":true},{"label":"population","value":"p","type":"number","required":true},{"label":"robbery","value":"r","type":"number","required":true}],"formValue":{"yr":"","p":"","r":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":62,"y":280,"wires":[["5a43db41.960684"]]},{"id":"cb9f32c4.42a0d","type":"function","z":"ec7da7f0.0e19e8","name":"predection","func":"var token=msg.payload.token;\nvar yr=global.get(\"yr\");\nvar p=global.get(\"p\");\nvar r=global.get(\"r\");\nmsg.payload={\"fields\":[\"year\",\"population\",\"robbery\"],\"values\":[[yr,p,r]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":246,"wires":[["b0f630c8.6a40b"]]},{"id":"b0f630c8.6a40b","type":"http request","z":"ec7da7f0.0e19e8","name":"post","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/0fdeecd1-1c61-498e-a787-eea2a1bcb465/deployments/6006b67f-97c5-4ebc-9383-f755eae093b1/online'","tls":"","proxy":"","authType":"basic","x":332,"y":153,"wires":[["f86c320c.701e4"]]},{"id":"f19be81d.85f8c8","type":"http request","z":"ec7da7f0.0e19e8","name":"get","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":368,"y":403,"wires":[["cb9f32c4.42a0d","7c2730d1.aa346"]]},{"id":"7c2730d1.aa346","type":"debug","z":"ec7da7f0.0e19e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":502,"y":459,"wires":[]},{"id":"f86c320c.701e4","type":"function","z":"ec7da7f0.0e19e8","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":83,"wires":[["1b76e8b5.412487","71717146.dd44d"]]},{"id":"1b76e8b5.412487","type":"debug","z":"ec7da7f0.0e19e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":729,"y":177,"wires":[]},{"id":"71717146.dd44d","type":"ui_text","z":"ec7da7f0.0e19e8","group":"ae51b534.b3ec18","order":3,"width":0,"height":0,"name":"predection","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":754,"y":66,"wires":[]},{"id":"5a43db41.960684","type":"function","z":"ec7da7f0.0e19e8","name":"fun","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username= \"23d328d7-25ab-439d-ada5-8a61e825e51c\"\nvar password= \"0035d828-7b3e-4565-adc9-0facb6d8bea5\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"r\",msg.payload.r)\nreturn msg;","outputs":1,"noerr":0,"x":234,"y":250,"wires":[["f19be81d.85f8c8"]]},{"id":"ae51b534.b3ec18","type":"ui_group","z":"","name":"predict","tab":"e6585b67.6d3128","disp":true,"width":"6","collapse":false},{"id":"e6585b67.6d3128","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]